table {
    border-collapse: collapse;
    margin: 20px;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    border: 2px solid black;
}

h1, h2 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
}
