<!DOCTYPE html>
<html>
<head>
  <title>My Cool Math Games</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <h1>Welcome to My Cool Math Games!</h1>
  </header>

  <nav>
    <div class="navbar-container">
      <div class="navbar-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  

  <main>
    <h2>Featured Math Games</h2>

    <div class="game-container">
      <p1>Single Player Games</p1>
      
      <div class="game-row">
        <div class="game">
          <img src="game1.png" alt="Game 1">
          <h4>Brick Break</h4>
          <p>Destroy all the breaks with a ball</p>
          <a href="/brick_break">Play Now</a>
        </div>
        <div class="game">
          <img src="game2.png" alt="Game 2">
          <h4>Memory</h4>
          <p>Memorize the position of each color and find its partner</p>
          <a href="/memory">Play Now</a>
        </div>
        <div class="game">
          <img src="game3.png" alt="Game 3">
          <h4>Hangman</h4>
          <p>Fill in the word before its too late!</p>
          <a href="/hangman">Play Now</a>
        </div>
        <div class="game">
          <img src="game4.png" alt="Game 4">
          <h4>Snake</h4>
          <p>Feed the snake as many apples as you can</p>
          <a href="/snake">Play Now</a>
        </div>
      </div>
      
      <p1>Genre 2</p1>
      <div class="game-row">
        <div class="game">
          <img src="game4.png" alt="Game 4">
          <h4>Tic Tac Toe</h4>
          <p>Compete against friends to get 3 in a row</p>
          <a href="/tic_tac_toe">Play Now</a>
        </div>
        <div class="game">
          <img src="game5.png" alt="Game 5">
          <h4>Rock Paper Scissors</h4>
          <p>Compete against friends to be the best</p>
          <a href="/rps">Play Now</a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2023 My Cool Math Games. All rights reserved.</p>
  </footer>
</body>
</html>
